.container {
    display: grid;
    font-size: 20px;
}

.two-farction-column-container{
    grid-template-columns: 1fr 1fr ;
}

.two-farction-row-container{
    height : 300px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}

.one-two-farction-column-container {
    grid-template-columns: 1fr 2fr;
}

.one-three-farction-column-container {
    grid-template-columns: 1fr 3fr;
}

.two-four-farction-column-container {
    grid-template-columns: 2fr 4fr;
}

.one-fixed-width-two-farction-column-container {
    grid-template-columns: 100px 1fr 2fr;
}
