.container {
    display: grid;
    font-size: 20px;
}

/* track-sizing-based-on-view-port */

.two-vw-column-container {
    grid-template-columns: 10vw 30vw;
}

.two-vw-row-container {
    height: 50vw;
    grid-template-columns: 200px 200px;
    grid-template-rows: 10vw 30vw;
}

.two-vh-column-container {
    grid-template-columns: 10vh 20vh;
}

.two-vh-row-container {
    height: 50vh;
    grid-template-columns: 200px 200px;
    grid-template-rows: 10vh 30vh;
}

.two-vmax-column-container {
    grid-template-columns: 10vmax 30vmax;
}

.two-vmax-row-container {
    height: 50vmax;
    grid-template-columns: 200px 200px;
    grid-template-rows: 10vmax 30vmax;
}

.two-vmin-column-container {
    grid-template-columns: 10vmin 30vmin;
}

.two-vmin-row-container {
    height: 50vmin;
    grid-template-columns: 200px 200px;
    grid-template-rows: 10vmin 30vmin;
}

/* .two-fixed-column-container{
    grid-template-columns: 200px 300px;
}

.two-fixed-row-container{
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 300px;
}

.two-percentage-column-container{
    grid-template-columns: 30% 50%;
}

.two-percentage-row-container {
    height: 350px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 30% 50%;
} */

/* 
.two-em-column-container {
    grid-template-columns: 10em 5em;
}

.two-em-row-container {
    grid-template-columns: 200px 200px;
    grid-template-rows: 5em 6em;
}

.two-rem-column-container {
    grid-template-columns: 10rem 20rem;
}

.two-rem-row-container {
    grid-template-columns: 200px 200px;
    grid-template-rows: 8rem 12rem;
} */